<ion-header>
    <ion-toolbar>
        <ion-buttons (click)="voltar()" slot="start">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title>medico</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-input type="text" [(ngModel)]="medico.nome" placeholder="Nome"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="medico.cpf" placeholder="CPF"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="medico.endereco" placeholder="Endereço"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="medico.crm" placeholder="CRM"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="medico.telefone" placeholder="Telefone"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="medico.celular" placeholder="Celular"></ion-input>
        </ion-item>
        <!-- <ion-item>
            <ion-input type="text" [(ngModel)]="medico.uf" placeholder="UF"></ion-input>
        </ion-item> -->
        <ion-label>Cidade</ion-label>
        <ion-select [(ngModel)]="medico.uf">
            <ion-select-option *ngFor="let uf of ufs" value="{{uf.id}}">{{ uf.nome }}</ion-select-option>
        </ion-select>
        <ion-label>Especialidade</ion-label>
        <ion-select [(ngModel)]="medico.especialidade">
            <ion-select-option *ngFor="let especialidade of especialidades" value="{{especialidade.id}}">{{ especialidade.nome }}</ion-select-option>
        </ion-select>
        <!-- <ion-item>
            <ion-input type="text" [(ngModel)]="medico.especialidade" placeholder="Especialidede"></ion-input>
        </ion-item> -->
        <ion-item>
            <ion-input type="text" [(ngModel)]="medico.observacoes" placeholder="Observações"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button (click)="saveMedico()" expand="block">
            Salvar médico
        </ion-button>
    </ion-toolbar>
</ion-footer>