<ion-header>
    <ion-toolbar>
        <ion-buttons (click)="voltar()" slot="start">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-title>clinica</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-input type="text" [(ngModel)]="clinica.nomeFantasia" placeholder="Nome"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="clinica.cnpj" placeholder="CNPJ"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="clinica.endereco" placeholder="Endereço"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="clinica.cep" placeholder="CEP"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="clinica.responsavel" placeholder="Responsável"></ion-input>
        </ion-item>
        <ion-label>Cidade</ion-label>
        <ion-select [(ngModel)]="clinica.uf">
            <ion-select-option *ngFor="let uf of ufs" value="{{uf.id}}">{{ uf.nome }}</ion-select-option>
        </ion-select>
        <!-- <ion-item>
            <ion-input type="text" [(ngModel)]="clinica.uf" placeholder="UF"></ion-input>
        </ion-item> -->
        <ion-item>
            <ion-input type="text" [(ngModel)]="clinica.telefone1" placeholder="Telefone 1"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="clinica.telefone2" placeholder="Telefone 2"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="clinica.telefone3" placeholder="Telefone 3"></ion-input>
        </ion-item>
        <!-- <ion-item>
            <ion-input type="text" [(ngModel)]="clinica.observacoes" placeholder="Observações"></ion-input>
        </ion-item> -->
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button (click)="saveClinica()" expand="block">
            Salvar clínica
        </ion-button>
    </ion-toolbar>
</ion-footer>