<ion-content class="container">
    <div class="itens">
        <ion-text color="light">
            <h1>Bem-vindo ao cartão MultiClinica</h1>
            <h4>O maior e melhor cartão de benefícios para você!</h4>
        </ion-text>
        <ion-buttons>
            <ion-button selected href='/login'>Já sou cadastrado</ion-button>
        </ion-buttons>
        <ion-buttons>
            <ion-button href='/cadastro'>Quero me cadastrar</ion-button>
        </ion-buttons>
    </div>
    <!-- <ion-buttons>
        <ion-button>
            Opçoes
        </ion-button>
    </ion-buttons> -->

</ion-content>