<ion-toolbar>
    <ion-title>Minhas especialidades</ion-title>


    <ion-button slot="end" class="menu-header" (click)="presentActionSheet()">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
        <ion-badge class="bagde-icon"></ion-badge>
    </ion-button>
</ion-toolbar>


<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list *ngIf="!medicoespecialidades.length">
        <ion-item *ngFor="let item of [0, 1, 2]">
            <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item-sliding *ngFor="let medicoespecialidade of medicoespecialidades">
            <ion-item button [routerLink]="['/medicoespecialidade', medicoespecialidade.id]">
                <!--<ion-avatar slot="start">
  <img [src]="medico.picture">
</ion-avatar>-->

                <ion-label>
                    {{ medicoespecialidade.nome }}
                    <p>{{ medicoespecialidade.descricao }}</p>
                </ion-label>

                <!-- <ion-note color="primary" slot="end" *ngIf="desconto.valor">R${{ desconto.valor }}</ion-note> -->
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="deleteMedicoespecialidade(desconto.id)">
                    <ion-icon slot="top" name="trash"></ion-icon>
                    Excluir
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="success" href="/medicoespecialidade">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>