ion-tab-button {
    --background: #ffffff;
    --color: #24cba9;
    border-radius: 10px;
}

ion-tab-button:active,
ion-tab-button:focus,
ion-tab-button:hover {
    --background: #24cba9;
    color: #fff !important;
    border-radius: 10px;
}

ion-tab-bar {
    --border: 0.55px solid var(--ion-tab-bar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.0596))));
}