<ion-tabs>
    <!-- 
        adm = 1
        clinica = 2
        médico = 3
        titular = 4
        dependente = 5
    -->
    <ion-tab-bar slot="bottom">
        <ion-tab-button [hidden]="usuario.tipoUsuario != 4" class="tab-button" tab="tab1">
            <ion-icon name="bag-add-outline"></ion-icon>
            <ion-label>Consultas</ion-label>
        </ion-tab-button>

        <ion-tab-button [hidden]="usuario.tipoUsuario != 4" class="tab-button" tab="tab2">
            <ion-icon name="storefront-outline"></ion-icon>
            <ion-label>Produtos</ion-label>
        </ion-tab-button>

        <ion-tab-button class="tab-button" tab="tab3">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button [hidden]="usuario.tipoUsuario != 4" class="tab-button" tab="tab4">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>Parceiros</ion-label>
        </ion-tab-button>

        <!-- <ion-tab-button [hidden]="usuario.tipoUsuario != 4" class="tab-button" tab="tab5">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Perfil</ion-label>
        </ion-tab-button> -->
        <!-- paginas dos médicos -->
        <ion-tab-button [hidden]="usuario.tipoUsuario != 3" class="tab-button" tab="listmedicoespecialidade">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Especialidades
            </ion-label>
        </ion-tab-button>
        <ion-tab-button [hidden]="usuario.tipoUsuario != 3" class="tab-button" tab="agenda">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Agenda</ion-label>
        </ion-tab-button>
        <!-- <ion-tab-button [hidden]="usuario.tipoUsuario != 3" class="tab-button" tab="tab5">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>perfil</ion-label>
        </ion-tab-button> -->
        <!-- paginas das clínicas -->
        <ion-tab-button [hidden]="usuario.tipoUsuario != 2" class="tab-button" tab="tab5">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Consultas médico</ion-label>
        </ion-tab-button>
        <!-- paginas dos administradores -->
        <ion-tab-button [hidden]="usuario.tipoUsuario != 1" class="tab-button" tab="tab5">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Consultas médico</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>