ion-tab-button {
    --background: #ffffff;
    --color: #24cba9;
    border-radius: 10px;
}

ion-tab-button:active,
ion-tab-button:focus,
ion-tab-button:hover {
    --background: #24cba9;
    color: #fff !important;
    border-radius: 10px;
}