* {
    color: #636363;
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    --background: rgb(255, 255, 255);
    &.top {
        top: 25%;
    }
    &.bottom {
        bottom: 30%;
        span {
            color: #fff;
        }
    }
}

.back2 {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #24cbaa;
}

.sessao1 h1 {
    z-index: 1;
    color: #fff;
    font-size: 34px;
}

.sessao1 {
    text-align: center;
    padding: 25% 15px 0% 15px;
}

.sessao2 {
    bottom: 6%;
    width: 100%;
    text-align: center;
    position: absolute;
}

ion-label {
    color: rgb(156, 156, 156);
}

ion-slides {
    height: 100%;
    .slide-inner {
        width: 70%;
        background-color: rgb(143, 143, 145);
        border-radius: 16px;
    }
    .ion-margin-top {
        margin-top: 10px;
        border-radius: 10px;
    }
    ion-item {
        padding: 5px;
        border-radius: 16px;
    }
}

.color {
    background: #000;
    margin: 35%;
    z-index: -1;
}

.card {
    padding: 20px;
    margin: 20px;
    border-radius: 18px;
    background: rgb(248, 248, 248);
    text-align: -webkit-center;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.281);
    color: rgb(121, 121, 121);
    ion-item {
        --background: transparent;
        --color: rgb(121, 121, 121);
        padding-bottom: 10px;
        //margin: 5px;
        //border-radius: 15px;
    }
    ion-button {
        padding: 0px 50px 1px 50px;
        margin-top: 10px;
        border-radius: 15px;
    }
    ion-label {
        padding-bottom: 10px;
    }
    .label-footer {
        /* top: 60%; */
        position: fixed;
        bottom: 10%;
        right: 68px;
    }
}