

<ion-content >
  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <h1>Login</h1>  
        <ion-item class="ion-margin-top">
          <ion-input type="email" placeholder="E-mail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Senha"></ion-input>
        </ion-item>
        <ion-button>Login</ion-button>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <h2>Registrar</h2>
        <ion-item>
          <ion-input type="nome" placeholder="Nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" placeholder="E-mail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Senha"></ion-input>
        </ion-item>
        <ion-button>Registrar</ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
