ion-toolbar {
    //background-color: aqua;
}

* {
    color: #636363;
    text-decoration: none;
}

main {
    background-color: #007bff2a;
}

:host {
    --border: 0.55px solid var(--ion-tab-bar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.056)))) !important;
}

ion-title {
    /*color: rgb(122, 122, 122);*/
}

ion-card {
    box-shadow: 0 0 1em #7c7c7c42;
}

.secoes {
    background-color: #ffffff;
    color: #000;
    text-align: center;
    width: 80%;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 0 1em #7c7c7c1f;
    ion-card-content {
        padding: 4px;
        margin: 8px 4px;
        font-size: 11px;
    }
    ion-icon {
        width: 100%;
        height: 32px;
    }
    ion-label {}
}

.item {
    width: 30px;
    height: auto;
}

ion-card-title {
    text-align: -webkit-center;
    font-size: 22px;
}

ion-card {}

ion-button {
    --background: #24cba9;
    --color: #fff;
}

.produto {
    width: 100%;
    height: 150px;
}

.user {
    padding: 10px;
}

.menu-header {
    z-index: 1;
    --background: transparent !important;
    width: 16%;
    align-self: self-end;
}

.menu-header:active,
.menu-header:hover,
.menu-header::after,
.menu-header:focus,
.menu-header:host,
.menu-header::before {
    z-index: 1;
    --background: #24cba9 !important;
    width: 16%;
    align-self: self-end;
}

.ion-activated {
    --background: #24cba9 !important;
}