<ion-header [translucent]="true">

  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
    <ion-button [routerLink]="['/adm']" slot="end">adm</ion-button>
    <ion-button (click)="sair()" slot="end">sair</ion-button>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">


  <ion-title>
    <ion-label>Olá (usuário)</ion-label>
  </ion-title>

  <ion-card class="produto">
    <ion-card-title>
      Conheça nossos produtos!
    </ion-card-title>
  </ion-card>



  <ion-grid>
    <label for="campanhas">Campanhas</label>
    <ion-row>
      <ion-col>
        <ion-card class="secoes">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Consultas</ion-label>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="secoes">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Consultas</ion-label>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="secoes">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Consultas</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="secoes">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Consultas</ion-label>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="secoes">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Consultas</ion-label>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="secoes">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Consultas</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>






</ion-content>