
ion-toolbar{
    background-color: aqua;
}

ion-title{
    /*color: rgb(122, 122, 122);*/
}
.secoes{
    
    background-color: cornflowerblue;
    color: #000;
    text-align: center;
    ion-icon{
        text-align: -webkit-center;
        width: 100%;
        
    }
    ion-label{
        
    }
}
ion-card .produto{

}

