<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-button [routerLink]="['/adm']" slot="end">adm</ion-button>
    <ion-button (click)="sair()" slot="end">sair</ion-button>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-title>
      <ion-label>Olá (usuário)</ion-label>
    </ion-title>

    <ion-card>
      <ion-card-title>
        Conheça nossos produtos!
      </ion-card-title>
    </ion-card>

    <label for="campanhas">Campanhas</label>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-icon name="home-outline"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-icon name="home-outline"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-icon name="home-outline"></ion-icon>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-icon name="home-outline"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-icon name="home-outline"></ion-icon>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-icon name="home-outline"></ion-icon>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>





</ion-content>