<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 1
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-item>

        <a href="https://docs.google.com/presentation/d/1rljUegNwbKw0_vBAFsrK5LKjPgS8JBVJEiLGbyHeGpw/edit#slide=id.gc6f80d1ff_0_0" target="_blank">Documentação</a>
    </ion-item>

    <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>